<!--
  Generated template for the RdvHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Mes RDV passés</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background-cloud">
<div *ngFor="let day of dates">
    <div class="tab-day">
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    {{ daysName[day[0]] + ' ' + day[1] + ' ' + months[day[2]]}}
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>
    <ng-container *ngFor="let rdv of rdvList;let index = index">
    <ion-card  *ngIf="(diffdate(rdv.timestamp, day[3]) == 0)">
        <ion-card-content class="no-padding rdv-content "  >

            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <ion-badge class="main-color-button" color="light"> {{ rdv.category }} </ion-badge>
                        <ion-badge *ngFor="let tag of rdv.tags;let index = index" class="main-color-button" color="light"> {{ tag }} </ion-badge>

                    </ion-col>
                </ion-row>
                <ion-row class="info-major">
                    <ion-col col-4 class="bordered-right">

                            {{ rdv.hour + 'h'}}

                    </ion-col>
                    <ion-col col-4 class="bordered-right">

                            {{ rdv.duree }} min

                    </ion-col>
                    <ion-col col-4>

                            {{ rdv.prix }} €

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <span class="icon-left"><ion-icon name="{{ (rdv.place == address) ? 'home' : 'pin' }}" color="red"></ion-icon></span>
                        {{ (rdv.place == address) ? 'Chez moi' : rdv.place }}
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="!rdv.state;else confirmed_content">
                    <ion-col col-6>
                        <button ion-button small icon-left color="dark" (click)="reclaim(rdv.key, rdv.prestataire, rdv.timestamp, rdv.category, rdv.tags)" outline>
                            <ion-icon name="alert"></ion-icon>
                            Réclamations
                        </button>

                    </ion-col>
                    <ion-col col-6>
                        <button ion-button  small icon-left color="dark" (click)="prestaConfirm(rdv.key, rdv.prestataire, rdv.client)">
                            <ion-icon name="checkmark"></ion-icon>
                            Confirmer
                        </button>
                    </ion-col>
                </ion-row>

                <ng-template #confirmed_content>
                    <button *ngIf="rdv.state == 'confirmed';else review" ion-button icon-left class="align-right" color="dark" (click)="rate(rdv.key, rdv.prestataire, rdv.timestamp, rdv.category, rdv.tags)">
                        <ion-icon name="card"></ion-icon>
                        Noter la prestation
                    </button>
                </ng-template>
                <ng-template #review>
                </ng-template>
            </ion-grid>

        </ion-card-content>
    </ion-card>
    </ng-container>
</div>

</ion-content>
