<!--
  Generated template for the RatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Evaluation </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class='background-cloud' padding>
    <div *ngIf="isRating">

        <input type="radio" name="stars" id="star-null" (change)="setNote(0)" />
        <input type="radio" name="stars" id="star-1" (change)="setNote(1)" />
        <input type="radio" name="stars" id="star-2" (change)="setNote(2)" />
        <input type="radio" name="stars" id="star-3" (change)="setNote(3)" />
        <input type="radio" name="stars" id="star-4" (change)="setNote(4)" checked/>
        <input type="radio" name="stars" id="star-5" (change)="setNote(5)" />

        <p>
            Laisser une note (sur 5) :
        </p>
        <section>
          <label for="star-1">
            <svg width="255" height="240" viewBox="0 0 51 48">
              <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
            </svg>
          </label>
          <label for="star-2">
            <svg width="255" height="240" viewBox="0 0 51 48">
              <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
            </svg>
          </label>
          <label for="star-3">
            <svg width="255" height="240" viewBox="0 0 51 48">
              <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
            </svg>
          </label>
          <label for="star-4">
            <svg width="255" height="240" viewBox="0 0 51 48">
              <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
            </svg>
          </label>
          <label for="star-5">
            <svg width="255" height="240" viewBox="0 0 51 48">
              <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
            </svg>
          </label>
          <!--
          <label for="star-null">
            Clear
          </label>
      -->
        </section>
    </div>
    <p *ngIf="isRating">
        Laisser un commentaire :
    </p>
    <p *ngIf="!isRating">
        Donner les détails de votre réclamation (le prestataire ne s'est pas présenté ou n'était pas à l'adresse indiqué, le rendez vous n'a pas eu lieu etc...)
    </p>
    <textarea  [(ngModel)]="comment" placeholder="Laisser un commentaire :" rows="20" name="comment[text]" id="comment_text" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
    </textarea>

    <button ion-button icon-left block color="dark" *ngIf="isRating" (click)="saveReview()">
        <ion-icon name="checkmark"></ion-icon>
        Confirmer
    </button>

    <button ion-button icon-left block color="dark" *ngIf="!isRating" (click)="sendMessage()">
        <ion-icon name="checkmark"></ion-icon>
        Envoyer
    </button>
</ion-content>
