<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar #content class="colored-menu">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!isGift"> La Boutique </ion-title>
        <ion-title *ngIf="isGift"> Mon Cadeau </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <div class="gallery-button" text-center>

            <div class="">
                <img src="{{product[selected].pictureUrl}}" class="shopPic"/>
            </div>


    </div>
    <div padding>
        <button ion-button block class='main-color-button' (click)='buy()'>
            Commander
        </button>
    </div>

    <ion-list>
        <ion-item >
          <ion-label> Quantité </ion-label>
          <ion-input class="input-right-aligned" *ngIf="!isGift" type="number" value=1 min=1 [(ngModel)]='qte'></ion-input>
          <p *ngIf="isGift" item-end>
              {{ qte }}
          </p>
        </ion-item>

        <ion-item *ngIf="idList.length > 1">
            <ion-label> Choisir </ion-label>
            <ion-select [(ngModel)]="selected">
              <ion-option *ngFor="let id of idList;let i = index" [attr.data-index]="i" value="{{i}}">{{ product[i].name }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="!isGift">
            <ion-icon name="cash" item-start></ion-icon>
            Prix
            <h2 *ngIf="reduction" item-end>
                <span style='text-decoration: line-through;color:#666; font-size:14px;'> {{ product[selected].prix * qte | number:'1.2-2'}} € </span> <br />
                {{ product[selected].prix * qte * reduction | number:'1.2-2'}} €
            </h2>
            <h2  *ngIf="!reduction" item-end>
                {{ product[selected].prix * qte | number:'1.2-2'}} €
            </h2>
        </ion-item>

        <ion-item >
            <h2> Ingrédients </h2>
            <p style='white-space: normal !important;'>
                {{ product[selected].components }}
            </p>
        </ion-item>
        <ion-item >
            <h2>Description </h2>
            <p style='white-space: normal !important;'>
                {{ product[selected].description }}
            </p>
        </ion-item>
        <ion-item >
            <h2> Utilisation </h2>
            <p style='white-space: normal !important;'>
                {{ product[selected].usage }}
            </p>
        </ion-item>
    </ion-list>
</ion-content>
