<!--
  Generated template for the SetAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="isPresta;else client_content_title">Votre lieu de travail</ion-title>
    <ng-template #client_content_title><ion-title>
         Votre domicile </ion-title> </ng-template>
  </ion-navbar>

</ion-header>


<ion-content class="" padding>
    <p *ngIf="isPresta;else client_content" padding>
        Saisissez l'adresse que vous utiliserez pour effectuer vos prestations. <br />
        Vous pourrez également proposez à vos clients des prestations à domicile. <br />
        <b> Si vous ne souhaitez effectuer que des prestations à domicile </b> (chez le client), rentrez l'adresse de votre domicile
         afin que nous puissions vous proposez des clients pas trop loin de chez vous.
    </p>
    <ng-template #client_content><p padding>
         Saisissez votre adresse, afin de pouvoir prendre des rendez-vous à domicile. </p> </ng-template>

     <div padding>

       <button block ion-button icon-left class='main-color-button' (click)="findMe()">
           <ion-icon name="pin"></ion-icon>
           Me géolocaliser
       </button>
       <br />
       <button block (click)="showAddressModal()" icon-left ion-button outline>
           <ion-icon name="create"></ion-icon>
           Entrez mon adresse
       </button>
     </div>


    <ion-list padding>
      <ion-item (click)="showAddressModal()">
          <ion-label> {{ (address.place) ? address.place : "Entrez votre adresse" }} </ion-label>
      </ion-item>
    </ion-list>



    <div padding>

      <button block ion-button (click)="saveAddress()"> Confirmer </button>
      <br />
      <button *ngIf="!isPresta" block color="dark" (click)="goToDashboard()" ion-button> Passer cette étape </button>
    </div>
</ion-content>
