<!--
  Generated template for the PrestaRdvPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Mes prochains RDV</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
<div *ngFor="let day of dates">
    <div class="tab-day">
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    {{ (now.getDate() == day[1] && now.getMonth() == day[2] ) ? "Aujourd'hui" : 'Dans '+ diffdate(now.getTime(), day[3]) +' jour(s)'}}
                </ion-col>
                <ion-col col-6 class="align-right info-minor">
                    <span >{{ daysName[day[0]] + ' ' + day[1] + ' ' + months[day[2]]}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ng-container *ngFor="let rdv of rdvList;let index = index">
    <div class="rdv-content" *ngIf="(diffdate(rdv.timestamp, day[3]) == 0)"  >

        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-badge class="main-color-button" color="light"> {{ rdv.category }} </ion-badge>
                    <ion-badge *ngFor="let tag of rdv.tags;let index = index" class="main-color-button" color="light"> {{ tag }} </ion-badge>

                </ion-col>
            </ion-row>
            <ion-row class="info-major">
                <ion-col col-4 class="bordered-right">

                        {{ rdv.hour + 'h'}}

                </ion-col>
                <ion-col col-4 class="bordered-right">

                        {{ rdv.duree }}min

                </ion-col>
                <ion-col col-4>

                        {{ rdv.prix }}€

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <span class="icon-left"><ion-icon name="{{ (rdv.place == address) ? 'home' : 'pin' }}" color="red"></ion-icon></span>
                    {{ (rdv.place == address) ? 'Chez moi' : rdv.place }}
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
    </ng-container>
</div>

</ion-content>
