page-schedule {
    * {
        font-size: 12px;
    }

    table {
        width: 100%;
        min-height: 100% !important;
        padding-bottom: 15px;
    }

    th, td {
        padding: 2px;
        border: 1px solid gray;
    }

    ion-checkbox {
        margin: auto;
    }
}
