<!--
  Generated template for the AmbassadorInfosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="colored-menu">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Parrainez et gagnez</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <button *ngIf="!isAmbassador" ion-button block style="font-size:12px" class="main-color-button" (click)="submitAmbassador()"> Prendre un forfait Ambassadeur</button>
    <p *ngIf="isAmbassador" class="selectable" > Votre code ambassadeur est : <br />
        <ion-item text-center style="font-size:12px" class="selectable"> {{ uid }} </ion-item>
    </p>


    <video width="320" height="240" controls style="max-width:100% !important">
     <source src="./assets/videos/ambassadeur_presentation.mp4" type="video/mp4">

    Your browser does not support the video tag.
    </video>

    <p style="font-size:14px">
        Vous aimez ProxyBeauty et ses produits de beauté ? <br />
        Parlez en autour de vous, partagez l'appli, et soyez rémunérez ! <br />
        Comment ça marche ? <br /> <br />
        <b>1.</b> Prenez un forfait Ambassadeur à 24,90 €/mois. <br /> <br />
        <b>2.</b> Récupérez votre code parrain ici même sur l'appli et envoyez le à toutes les nouvelles personnes qui s'inscrivent grâce à vous. <br /> <br />
        <b>3.</b> Recevez de l'argent chaque fois qu'un de vos filleuls utilisent l'appli :  <br />
         <b>
         -  4 % sur chaque transaction des prestataire de beauté <br />
         -  2 % sur chaque transaction des clients <br />
         -  25 % de toute commande sur la boutique ProxyBeauté (prestataire et client) <br />
         </b>
    </p>
</ion-content>
